

<div class="main-container">
  <div class="dashboard-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3>Welcome to your Dashboard</h3>
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
    <div>
      <button class="btn btn-primary mb-3" routerLink="/add-task">Add Task</button>
      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.completed ? 'Completed' : 'Incomplete' }}</td>
              <td *ngIf="task?.user?.id.toString() === userId.toString()">
                <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
